<section id="profile" class="container">
  <div class="row my-5">
    <div class="col-md-4 text-center">
      <img src="https://dummyimage.com/300x300/000/fff" class="img-fluid rounded-circle">
      <button class="btn btn-success mt-3"><i class="fas fa-camera mr-1"></i>Update Image</button>
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h4>{{ user.username }}</h4>
      <h4><small>{{ user.email }}</small></h4>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Ullam iusto optio, magnam ipsa excepturi provident voluptates!</p>
    </div>
  </div>
</section>
