<section id="books">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <figure>
          <img class="img-fluid" [src]="book.portada" [alt]="book.titulo">
        </figure>
      </div>
      <div class="col-md-6">
        <h4 class="mb-0 mr-1 title-cover">{{ book.titulo }}</h4>
        <p><small>{{ book.autor }}</small></p>
        <p class="text-danger font-weight-bold">$ {{book.precio}}</p>
        <a [href]="book.link_amazon" class="btn btn-warning" target="_blank">
          Buy <i class="fab fa-amazon"></i>
        </a>
        <p class="mt-3 text-justify">{{ book.descripcion }}...</p>
      </div>
    </div>
  </div>
</section>
