<section id="login">
  <div class="container">
    <div class="row my-5">
      <div class="col-md-4 mx-auto">
        <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
          <h1 *ngIf="!isError" class="h3 mb-4 font-weight-normal text-center">Login</h1>
          <div *ngIf="isError" class="alert alert-danger text-center" role="alert">
            Something is wrong!
          </div>
          <div class="form-group">
            <input type="email" id="email" name="email" class="form-control mb-4" placeholder="Email" [(ngModel)]="user.email"
              required>
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password"
              [(ngModel)]="user.password" required>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <div class="form-group">
            <a [routerLink]="['/user/register']" class="nav-link text-center">Are you new?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
